doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='roinflames & mvelilla')
    title DM-FASIMC, Dispensario Medicinal de Cannabis
    // Bootstrap Core CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    // Theme CSS
    link(href='stylesheets/agency.css', rel='stylesheet')
    // Custom Fonts
    link(href='vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Kaushan+Script', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')
  body#page-top.index
    // Navbar theme
    nav#mainNav.navbar.navbar-default.navbar-custom.navbar-fixed-top
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header.page-scroll
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            |  Menu
            i.fa.fa-bars
          a.navbar-brand.page-scroll(href='#page-top') DM-FASIMC
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.hidden
              a(href='#page-top')
            li
              a.page-scroll(href='/stock') STOCK
            li
              a.page-scroll(href='https://reservahora.setmore.com/' target="_blank") RESERVA TU HORA
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/logout')
                span.glyphicon.glyphicon-log-in
                |  DESCONECTAR
    section
      .container
        .col-lg-6.text-center
          .page-header
            h1
              span.fa.fa-user
              |  Bienvenido
            a.btn.btn-default.btn-sm(href='/logout') Desconectar      

        .col-lg-6
          .container          
            .well
              h3
                table#user.display(width='100%', cellspacing='0')
                  tr                  
                    th Usuario: #{user.local.email}                                
              if (user.local.email)                     
                table
                  tr
                    th ID Usuario
                    td :
                    td #{user._id}
                  tr
                    th Contacto
                    td :
                    td #{user.local.email}
                  tr
                    th Membresía
                    td :
                    td #{user.local.email}
                  tr
                    th Expitación
                    td :
                    td #{user.local.email}
              else
                a.btn.btn-default(href='/connect/local') Connect Local  
    footer.text-center
      p         
      |     FASIMC
      |     © 2017 Copyleft
