doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='roinflames & mvelilla')
    title DM-FASIMC, Dispensario Medicinal de Cannabis
    // Bootstrap Core CSS
    link(href='vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // Theme CSS
    link(href='stylesheets/agency.css', rel='stylesheet')
    // Custom Fonts
    link(href='vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Kaushan+Script', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')
    link(href='https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css', rel='stylesheet', type='text/css')
  body#page-top.index
    // Navbar theme
    nav#mainNav.navbar.navbar-default.navbar-custom.navbar-fixed-top
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header.page-scroll
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            |  Menu
            i.fa.fa-bars
          a.navbar-brand.page-scroll(href='/profile') DM-FASIMC
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.hidden
              a(href='#page-top')
            li
              a.page-scroll(href='/stock') STOCK
            li
              a.page-scroll(href='https://reservahora.setmore.com/') RESERVA TU HORA
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/logout')
                span.glyphicon.glyphicon-log-in
                | DESCONÉCTATE
    // Team Section
    section#testimonies.bg-light-gray
      .container
        .row
          .col-sm-4
            .container
              h1 CATÁLOGO
              table#catalogo.display(width='100%', cellspacing='0')
                thead
                  tr
                    th NOMBRE
                    th CLASIFICACIÓN
                    th THC
                    th CBD
                    th CBN
                    th CNC
                    th STOCK
                    th FICHA
                tbody
                  tr
                    td 01
                    td #{indica}
                    td #{thc1} %
                    th #{cbd1} %
                    th #{cbn1} %
                    th #{cnc1} %
                    td #{cantidad1}
                    td
                      a(href='#') Mostrar
                  tr
                    td 02
                    td #{indica}
                    td #{thc2} %
                    th #{cbd2} %
                    th #{cbn2} %
                    th #{cnc2} %
                    td #{cantidad2}
                    td
                      a(href='#') Mostrar
                  tr
                    td 03
                    td #{indica}
                    td #{thc3} %
                    th #{cbd3} %
                    th #{cbn3} %
                    th #{cnc3} %
                    td #{cantidad3}
                    td
                      a(href='#') Mostrar
                  tr
                    td 04
                    td #{indica}
                    td #{thc4} %
                    th #{cbd4} %
                    th #{cbn4} %
                    th #{cnc4} %
                    td #{cantidad4}
                    td
                      a(href='#') Mostrar
                  tr
                    td 05
                    td #{indica}
                    td #{thc5} %
                    th #{cbd5} %
                    th #{cbn5} %
                    th #{cnc5} %
                    td #{cantidad5}
                    td
                      a(href='#') Mostrar
                  tr
                    td 06
                    td #{indica}
                    td #{thc6} %
                    th #{cbd6} %
                    th #{cbn6} %
                    th #{cnc6} %
                    td #{cantidad6}
                    td
                      a(href='#') Mostrar
                  tr
                    td 07
                    td #{indica}
                    td #{thc7} %
                    th #{cbd7} %
                    th #{cbn7} %
                    th #{cnc7} %
                    td #{cantidad7}
                    td
                      a(href='#') Mostrar
                  tr
                    td 08
                    td #{sativa}
                    td #{thc8} %
                    th #{cbd8} %
                    th #{cbn8} %
                    th #{cnc8} %
                    td #{cantidad8}
                    td
                      a(href='#') Mostrar
                  tr
                    td 09
                    td #{sativa}
                    td #{thc9} %
                    th #{cbd9} %
                    th #{cbn9} %
                    th #{cnc9} %
                    td #{cantidad9}
                    td
                      a(href='#') Mostrar
                  tr
                    td 10
                    td #{sativa}
                    td #{thc10} %
                    th #{cbd10} %
                    th #{cbn10} %
                    th #{cnc10} %
                    td #{cantidad10}
                    td
                      a(href='#') Mostrar
                  tr
                    td 11
                    td #{sativa}
                    td #{thc11} %
                    th #{cbd11} %
                    th #{cbn11} %
                    th #{cnc11} %
                    td #{cantidad11}
                    td
                      a(href='#') Mostrar
                  tr
                    td 12
                    td #{sativa}
                    td #{thc12} %
                    th #{cbd12} %
                    th #{cbn12} %
                    th #{cnc12} %
                    td #{cantidad12}
                    td
                      a(href='#') Mostrar
                  tr
                    td 13
                    td #{sativa}
                    td #{thc13} %
                    th #{cbd13} %
                    th #{cbn13} %
                    th #{cnc13} %
                    td #{cantidad13}
                    td
                      a(href='#') Mostrar
                  tr
                    td 14
                    td #{sativa}
                    td #{thc14} %
                    th #{cbd14} %
                    th #{cbn14} %
                    th #{cnc14} %
                    td #{cantidad14}
                    td
                      a(href='#') Mostrar
                  tr
                    td 15
                    td #{hybrid}
                    td #{thc15} %
                    th #{cbd15} %
                    th #{cbn15} %
                    th #{cnc15} %
                    td #{cantidad15}
                    td
                      a(href='#') Mostrar
                  tr
                    td 16
                    td #{hybrid}
                    td #{thc16} %
                    th #{cbd16} %
                    th #{cbn16} %
                    th #{cnc16} %
                    td #{cantidad16}
                    td
                      a(href='#') Mostrar
                  tr
                    td 17
                    td #{hybrid}
                    td #{thc17} %
                    th #{cbd17} %
                    th #{cbn17} %
                    th #{cnc17} %
                    td #{cantidad17}
                    td
                      a(href='#') Mostrar
                  tr
                    td 18
                    td #{hybrid}
                    td #{thc18} %
                    th #{cbd18} %
                    th #{cbn18} %
                    th #{cnc18} %
                    td #{cantidad18}
                    td
                      a(href='#') Mostrar
                  tr
                    td 19
                    td #{hybrid}
                    td #{thc19} %
                    th #{cbd19} %
                    th #{cbn19} %
                    th #{cnc19} %
                    td #{cantidad19}
                    td
                      a(href='#') Mostrar
                  tr
                    td 20
                    td #{hybrid}
                    td #{thc20} %
                    th #{cbd20} %
                    th #{cbn20} %
                    th #{cnc20} %
                    td #{cantidad20}
                    td
                      a(href='#') Mostrar
                  tr
                    td 21
                    td #{hybrid}
                    td #{thc21} %
                    th #{cbd21} %
                    th #{cbn21} %
                    th #{cnc21} %
                    td #{cantidad21}
                    td
                      a(href='#') Mostrar
    footer
      .container
        .row
          .col-md-4
            p.copyright DM FASIMC - © 2017 Copy Left. Debes tener al menos 18 años para usar este sitio.
          .col-md-4
            ul.list-inline.social-buttons
              li
                a(href='#')
                  i.fa.fa-twitter
              li
                a(href='https://www.facebook.com/FASIMC/?ref=br_rs')
                  i.fa.fa-facebook
              li
                a(href='#')
                  i.fa.fa-linkedin
          .col-md-4
            span
              | DIRECCION: CATEDRAL 1009 OF 601
              br
              |  ATENCION: 10:00 A 18:00 HRS
              |                                   TEL: +56999467416
              br
              |  Correo: DM@FASIMC.ORG
              |                                   A PASOS DEL METRO PLAZA DE ARMAS
    // Bootstrap Core JavaScript
    script(src='vendor/bootstrap/js/bootstrap.min.js')
    // jQuery
    script(src='vendor/jquery/jquery.min.js')
    // Plugin JavaScript
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js', integrity='sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb', crossorigin='anonymous')
    // Contact Form JavaScript
    script(src='javascripts/jqBootstrapValidation.js')
    script(src='javascripts/contact_me.js')
    // Theme JavaScript
    script(src='javascripts/agency.js')
    script(src='https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js')
    script(type='text/javascript').
      $(document).ready(function() {
      $('#catalogo').DataTable( {
      "decimal":        "",
      "emptyTable":     "Lo sentimos, no existen productos para cargar.",
      "info":           "Mostrando _START_ a _END_ de _TOTAL_ productos",
      "infoEmpty":      "Mostrando 0 a 0 de 0 productos",
      "infoFiltered":   "(Filtrado desde _MAX_ total de productos)",
      "language": {
      "search":         "Buscar:"
      },
      "paginate": {
      "first":      "Primero",
      "last":       "Último",
      "next":       "Siguiente",
      "previous":   "Anterior"
      },
      columnDefs: [ {
      targets: [ 0 ],
      orderData: [ 0, 1 ]
      }, {
      targets: [ 1 ],
      orderData: [ 1, 0 ]
      }, {
      targets: [ 4 ],
      orderData: [ 4, 0 ]
      } ]
      } );
      } );
